.footer{
    background-color: var(--color-bg-footer);
    display: flex;
    align-items: center;
    padding: 15px 35px;
    gap: 35px;
    justify-content: flex-start;
    
    img{
        width: 100px;
    }
}

