@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Raleway&display=swap");

:root{
  --color-text: #fff;
  --color-bg: #555;
  --color-bg-nav: #0f0f0f;
  --color-bg-footer: #091227;
  --color-bg-primary: #0994DC;
  --color-bg-card: #fff;
  --color-text-card: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body{
  background: var(--color-bg);
}

h1, h2, h3, h4, h5, h6, p, span, i, ul, li, .font-white{
  color: var(--color-text);
}

a{
  text-decoration: none;
  color: var(--color-bg-primary);
}

button{
  cursor: pointer;
  background: transparent;
  border: none;
}

.btn{
  display: inline-block;
  border: none;
  text-align: center;
  border-radius: 0.5rem;
  margin: 0.2rem;
  padding: 1rem;
  background-color: var(--color-bg-primary);
  color: var(--color-text);
}

.tela-erro{
  margin-top: 4rem;
  margin-bottom: 6rem;
}
